# Created by .gitignore support plugin (hsz.mobi)
### Gradle template
.gradle
build/
test/
test.html
bin/
out/
.idea/
.settings/

# Ignore Gradle GUI config
gradle-app.setting


gradle.properties
!*.enc
